.cs-exam-ability {
	margin-top: 20vh;

	&__header {
		margin-bottom: 2rem;
	}
}

.ability-test-page {
	h3 {
		font-size: 3.2rem;
		margin-bottom: 5rem;
		padding: 2rem;
		background-color: white;
		border-radius: 5px;
	}
}