
#main-slogan, #main-slogan-des {
	animation: moveRightMainSlogan 1s 0.2s;
	animation-fill-mode: backwards;
}

#main-btn {
	animation: moveUp 0.8s 1s;
	animation-fill-mode: backwards;
}

#banner-img {
	animation: moveLeft 1.5s ease-in-out;
	animation-fill-mode: backwards;
}
