
.profile-page {
    margin-top: 15vh;
    &--title {
        font-size: 4rem;
        margin-bottom: 5rem;
    }
    &--body {
        display: flex;
        justify-content: flex-start;
    }
}


.user-profile {
    &--sider, &--content {
        box-shadow: $shadow-light;
        overflow: hidden;
        border-radius: 1rem;
        padding: 2rem;
    }

    &--info {
        background-color: $theme-font-color-light;
    }

    &--content {
        margin-left: 2rem;
        background-color: white;
    }
}