.ability-test-form {

    &__arrow{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__timer {
        text-align: center;
        background-color: $white-color;
        padding: 2rem 4rem;
        box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.04);
        
        &--info {
            margin-bottom: 0;
        }
        &--progress {
            width: 60%;
            margin: 1rem auto;
        }
    }

    &__content {
        &--carousel {
            background-color: white;
            padding: 4rem;
            box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.04);

        }

        &--questions {

        }
    }
}