.ability-test-form {

    &__arrow{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__timer {
        text-align: center;
        background-color: $white-color;
        padding: 2rem 4rem;
        box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.04);
        
        &--info {
            margin-bottom: 0;
            color: rgba($color: #000000, $alpha: 0.7);
        }
        &--progress {
            width: 40%;
            margin: 1rem auto;
        }
    }

    &__content {
            background-color: white;
            padding: 4rem;
            box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.04);
        

        &--question {
            &__header {
                font-size: 2rem;
                font-weight: 500;
                color: #00c6d1;
                span {
                    margin-right: 5px;
                }
                p,h3,pre,h1,h2,span {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.radio-choice {
    span:first-child {
        align-self: center;
    }
    span:nth-child(2) {
        font-size: 1.6rem;
    }
}