
.page-footer {
	margin-top: 50rem;
	color: white;
	font-size: 1.4rem;

	.row {
		padding: 2rem 1rem 1rem 1rem;
	}

	.footer-logo {
		img {
			background: #f9f9f9;
			border-radius: 5px;
		}
	}

	.container-fluid {
		  background-image: linear-gradient(270deg,#01C9F5 0%,#048dfd 100.44%);
	}

	ul li {
		margin-bottom: 1rem;
	}

	.footer-copyright {
		background-color: #0073d2;

		a {
			color: white;
		}
	}

		a {
			color: white;
		}

}
