// header
.cs-main-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background 800ms ease, box-shadow 500ms ease;
    font-size: 1.5rem;
    background-image: $site-linear;
    box-shadow: $small-box-shadow-black;

    .cs-navbar {
        list-style: none;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        padding: 0 5rem;
        background-color: transparent;
        border-bottom: none;
        height: 100%;
        .header-item-text {
            flex: 0 0 45%;
            a {
                font-size: 1.6rem;
                color: white !important;
                font-weight: 500;
                margin-right: 2.5rem;
                text-decoration: none;
            }
        }
        &--btn {
            &:hover, &:visited, &:focus {
                color: #fff;
                background: transparent !important;
                border-color: #fff;
            }
        }

    }
    .header-search {
        margin-right: 5rem;
    }
    .cs-logo {
        margin-right: 10rem;
        color: white !important;
        text-decoration: none;
    }


    .cs-action-btn {
        border-radius: .5rem;
        background: linear-gradient(90deg, rgba(86, 55, 242, 1) 0%, rgba(127, 121, 241, 1) 100%);
        width: 10rem;

        a {
            color: white;
            text-align: center;
        }

        #logout-input {
            width: 100%;
            color: white;
            font-size: 1.5rem;
        }
    }
}

