*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	outline: none;
}

html {
	font-size: 62.5%;
	@include responsive(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include responsive(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include responsive(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    box-sizing: border-box;
	background-color: #f8f8f9;
    @include responsive(tab-port) {
        padding: 0;
    }
}

.preload-transitions * {
  // Dry this up a bit with SCSS variable
  $null-transition: none !important;

  -webkit-transition: $null-transition;
  -moz-transition: $null-transition;
  -ms-transition: $null-transition;
  -o-transition: $null-transition;
  transition: $null-transition;
}

// clear bootstrap input effects.
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus,
button:link, button:visited, button:active, button:focus
{
	outline: none !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}

button, input {
	border-radius: 0;
}

.section {
	padding-left: 12rem;
	padding-right: 12rem;
}

.section-7 {
	padding-left: 12rem;
	padding-right: 12rem;
}

.section-10 {
	padding-left: 12rem;
	padding-right: 12rem;
}

.page {
	position: relative;
}

.mt-10 {
	margin-top: 10rem;
}

.fancybox-is-open .fancybox-bg {
	opacity: .7;
	backdrop-filter: blur(10px);
}

.behind-spinner {
	filter: brightness(50%);
	-webkit-filter: brightness(50%);
}

.bradius {
	border-radius: 1rem !important;
}

.page {
	margin-top: 20vh;
}