body {
	font-weight: 400;
	line-height: 1.7;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text {
	&--info {
		font-size: $info-font-size;
		font-weight: 500;
	}
	&--sub {
		font-size: 1.2rem;

		&__medium {
			font-size: 1.5rem;
			color: $text-color-gray;
		}

		&__bigger {
		font-size: 1.6rem;
		}

		&__bigger2 {
			font-size: 1.8rem;
		}

		&__bigger3 {
			font-size: 2rem;
		}

		&__600 {
			font-weight: 600;
		}

		&__700 {
			font-weight: 700;
		}
	}


	&--main {
		font-size: 3rem;
		font-weight: 700;
		color: $theme-green-color;

		&__smaller {
			font-size: 2.5rem;
		}

		&__bigger {
			font-size: 3.5rem;
		}
		&__no-bold {
			font-weight: 400;
		}

	}
}

.link {
	&--no-decoration{
		text-decoration: none !important;
	}
}

.theme-color {
	color: $theme-green-color
}