

.cs-btn {
	&,
    &:link,
    &:visited {
        text-decoration: none;
        padding: .5rem 1.5rem;
        display: inline-block;
        border-radius: 0.2rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
		color: #ffffff;
        //Change for the <button> element
        border: none;
        cursor: pointer;
		background: #26c4e5;
		box-shadow: $button-box-shadow2;
		text-align: center;
    }

	&--animated {
		transition: transform 0.2s ease;
		&:hover {
			transform: translateY(-3px);
			color: #ffffff;
		}
		&:active {
			transform: translateY(-1px);
			box-shadow: $button-click-box-shadow2;
		}
	}

	&--fixed {
		width: 10rem;
	}

	&--banner {
		&,
		&:link,
		&:visited {
			font-weight: 700;
			padding: 3rem 5rem;
		}
	}

	&--white {
		&,
		&:link,
		&:visited {
			background: #ffffff;
			color: $theme-font-color;
			padding: 2.35rem 5rem;
		}
	}
}

