.owl-nav > button {
  margin-top: -26px;
  position: absolute;
  top: 50%;
}

.owl-nav i {
  	font-size: 52px;
	color: #20c997;
}

.owl-nav .owl-prev {
  	left: -30px;
}

.owl-nav .owl-next {
  	right: -30px;
}
